# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out
build

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.pem

# Debug
*.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# IDE
.vscode
.idea

# Git
.git
.gitignore
README.md

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
